body {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: #000000;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 183px;
    margin-left: -56px;
}

.header__menu {
    display: flex;
    margin-left: 472px;
    width: 570px;
}

.header__menu a {
    padding: 1px 0;
    width: 113.8px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
    align-items: center;
}

.header__menu a:hover {
    background: #EC7979;
}

.header__menu a:active {
    background: #AB4949;
}

.main {
    background: url(../img/main-bg.png) no-repeat 0 -77px / cover;
    color: #FFFFFF;
}

.main .container {
    display: flex;
}

.main__wrapper {
    display: flex;
    column-gap: 30px;
}

.main__content {
    padding: 231px 0 185px 0;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    width: 670px;
    text-transform: uppercase;
    margin: 73px 0 55px 0;
}

.main__line {
    width: 170px;
    height: 1px;
    background: #FFFFFF;
}

.main__text {
    width: 270px;
    margin: 42px 0;
}

.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    width: 270px;
    height: 54px;
    background: inherit;
}

.main__btn:hover {
    width: 270px;
    height: 54px;
    border: 2px solid #EC7979;
}

.main__btn:active {
    background: #AB4949;
    width: 270px;
    height: 54px;
    border: 2px solid #AB4949;
}

.main__btn a{
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 25px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.main__btn a:hover {
    color: #EC7979;
}

.main__btn a:active {
    color: #FFFFFF;
}

.form {
    width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 208px 0 30px 0;
    font-family: 'Open Sans';
}

.form__title {
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    padding: 30px 0 75px;
}

.form__title span {
    color: #EC7979;
}

.form__data {
    margin: 0 50px 33px;
}

.form__data input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 370px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.form__start {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* text-align: center; */
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border: #EC7979;
    width: 470px;
    height: 60px;
    color: #FFFFFF;
    margin-top: calc(75px - 33px);
    font-family: 'Open Sans';
}

.form__start:hover {
    background: #AB4949;
}

.form__start:active {
    background: #EC7979;
}

.media {
    background: #F8EFEF;
}

.media .container {
    display: flex;
}

.media__content {
    width: 470px;
}

.media__content div {
    display: flex;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-transform: capitalize;
    height: 60px;
    padding: 2px 0 18px 0;
    align-items: center;
}

.media__content p {
    color: #86878B;
    margin-bottom: 18px;
}

.media__icons {
    display: flex;
    justify-content: space-between;
    column-gap: 47px;
    margin-left: 50px;
    align-items: center;
}

.awesome {
    padding: 110px 0 58px 0;
}

.title {
    text-align: center;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.title__line {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 62px auto 40px auto;
}

.title__text {
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}

.awesome__wrapper, .pricing__wrapper, .reviews__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 80px auto 0 auto;
}

.awesome__block {
    text-align: center;
}

.awesome__block__subtitle {
    margin: 50px 0 40px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
    
.pricing {
    background-color: #F5F5F5;
    padding: 110px 0 50px 0;
}

.pricing__price {
    text-align: center;
    color: #FFFFFF;
    gap: 30px;
    width: 100%;
}

.pricing__price p {
    background: #333333;
}

.pricing__price_top {
    margin-top: -15px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing__price__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 0;
}

.pricing__price__cost {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    border: 2px solid #F5F5F5;
    padding: 30px 0;
}

.pricing__price__text {
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #F5F5F5;
    padding: 15px 0 14px 0;
}

li {
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    color: #86878B;
    padding: 15px 0 14px 0;
}

.reviews {
    padding: 100px 0 64px 0;
}

.reviews__items__text {
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    padding: 38px 15px 37px;
    position: relative;   
}

.reviews__items__text:after {
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    display: block;
    position: absolute;
    left: 70px;
    bottom: -20px;
}

.reviews__items__author {
    display: flex;
    margin: 70px 0 0 0;
    gap: 0 30px;
    flex-wrap: wrap;
}

.reviews__items__author p:nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
}

.reviews__items__author p:nth-child(3) {
    font-size: 18px;
    margin: 20px 0 0 100px;
}

.banner {
    background: url(../img/banner2.png) no-repeat center top / cover;
    padding: 110px 0 50px;
}

.banner .title h2 {
    color: #FFFFFF;
}

.title__line_banner {
    background-color: #FFFFFF;
}

.title__text_banner {
    color: #FFFFFF;
}

.main__btn_banner {
    width: 370px;
    height: 58px;
    margin: 73px auto 0 auto;
}

.main__btn_banner:hover {
    height: 58px;
    width: 370px;
}

.footer {
    background: #000000;
}

.footer .media__icons {
    color: #CCCCCC;
    display: flex;
    justify-content: center;
    padding: 39px 0 32px 0;
    margin: 0 auto;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 27px;
}