body {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.main-btn {
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 25px;
    font-size: 18px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 270px;
    height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main-btn:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.main-btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}

.main-btn_fill {
    color: #FFFFFF;
    background-color: #EC7979;
    border: 2px solid #EC7979;
}

.main-btn_fill:hover {
    color: #FFFFFF;
    background-color: #AB4949;
    border: 2px solid #AB4949;
}

.main-btn_fill:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.title {
    text-align: center;
}

.title__line {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 62px auto 40px auto;
}

.title__text {
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}

.awesome__wrapper, .pricing__wrapper, .reviews__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 80px auto 0 auto;
}


.header {
    background: #000000;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-left: -55px;
}

#burger, .header__burger {
    display: none;
}

.header__menu {
    display: flex;
    margin-left: auto;
}

.header__menu a {
    width: 113px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
}

.header__menu a:hover {
    background: #EC7979;
    text-transform: uppercase;
}

.header__menu a:active {
    background: #AB4949;
    text-transform: uppercase;
}


.main {
    background: url(../img/main-bg.png) no-repeat center center / cover;
    color: #FFFFFF;
    padding: 207px 0 185px 0;
}

.main .container {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.main__content {
    margin-top: 22px;
}

.main__content h1 {
    width: 670px;
    margin: 73px 0 55px 0;
}

.main__line {
    width: 170px;
    height: 1px;
    background: #FFFFFF;
}

.main__text {
    width: 270px;
    margin: 42px 0;
}

.form {
    width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Open Sans';
}

.form__title {
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    padding: 30px 0 75px;
}

.form__title span {
    color: #EC7979;
}

.form input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 370px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 19px;
    margin: 0 50px 33px;
}

.form input::placeholder {
    color: #BDBDBD;
    font-size: 15px;
}

.form__btn {
    border-radius: 0px 0px 10px 10px;
    font-size: 15px;
    line-height: 20px;
    width: 470px;
    height: 60px;
    margin-top: 40px;
}

.media {
    background: #F8EFEF;
    padding: 13px 0 18px 0;
}

.media .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media__content div {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.media__content p {
    color: #86878B;
    margin-top: 31px;
    width: 470px;
}

.media__icons {
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
}

.media__icons a:hover {
    transform: scale(1.2);
    transition: all .4s ease;
}

.tabs .container {
    padding: 90px 0 0;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
}

.mytabs label {
    padding: 10px 73px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    cursor:pointer;
}

.tabs__body {
    padding-left: 100px;
    display: flex;
    column-gap: 30px;
    width: 100%;
    order: 1;
    border: 1px solid #C6CBCD;
}

.mytabs input[type="radio"], .tabs__body {
    display: none;
}

.mytabs label:has(input:checked)+.tabs__body {
    display: flex;
}

.mytabs label:has(input:checked) {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    position: relative;
}

.mytabs label:has(input:checked):after {
    content: '';
    display: block;
    width: 184px;
    border-bottom: 1px solid #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.tabs__block h3 {
    margin: 44px 0 70px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
} 

.tabs__block p {
    width: 570px;
    margin-bottom: 27px;
}

.awesome {
    padding: 105px 0 58px 0;
}

.awesome__block {
    text-align: center;
    padding-top: 20px;
}

.awesome__block__subtitle {
    margin: 70px 0 40px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}


.pricing {
    background-color: #F5F5F5;
    padding: 110px 0 50px 0;
}

.pricing__price {
    text-align: center;
    color: #FFFFFF;
    gap: 30px;
    width: 100%;
}

.pricing__price p {
    background: #333333;
}

.pricing__price_top {
    margin-top: -15px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing__price__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 0;
}

.pricing__price__cost {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    border: 2px solid #F5F5F5;
    padding: 30px 0;
}

.pricing__price__text {
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #F5F5F5;
    padding: 15px 0 14px 0;
}

li {
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    color: #86878B;
    padding: 15px 0 14px 0;
}


.reviews {
    padding: 100px 0 64px 0;
}

.reviews__items__text {
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    padding: 38px 15px 37px;
    position: relative;   
}

.reviews__items__text:after {
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    display: block;
    position: absolute;
    left: 70px;
    bottom: -20px;
}

.reviews__items__author {
    display: flex;
    margin: 70px 0 0 0;
}

.reviews__items__author p:nth-child(1) {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0 0 30px;
}

.reviews__items__author p:nth-child(2) {
    font-size: 18px;
    margin: 40px 0 0 30px;
}
.reviews__dots {
    display: none;
}

.banner {
    background: url(../img/banner2.png) no-repeat center top / cover;
    padding: 110px 0 50px;
}

.banner .title h2 {
    color: #FFFFFF;
}

.title__line_banner {
    background-color: #FFFFFF;
}

.title__text_banner {
    color: #FFFFFF;
}

.main-btn_banner {
    width: 370px;
    margin: 73px auto 0 auto;
}

.contact .container {
    padding: 105px 0 50px;
}

.contact__form {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-top: 89px;
    color: #BDBDBD;
}

.left input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 570px;
    padding-bottom: 16px;
    margin-bottom: 50px;
}

.left input::placeholder {
    color: #BDBDBD;
}

.contact__form textarea {
    width: 570px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    border: none;
    overflow: hidden;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 169px;
    resize: none;
}

.contact__form textarea::placeholder {
    color: #BDBDBD;
}

.contact__form_btn {
    width: 370px;
    display: inline-flex;
    margin-left: 50%;
    transform: translate(-50%);
}


.footer {
    background: #000000;
    padding: 35px 0 27px 0;
}

.footer .media__icons {
    color: #CCCCCC;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 27px;
}